<div class="all">
  <div class="title">
    <img
      class="logo"
      src="https://cloudfront-upload.s3.ap-southeast-1.amazonaws.com/1.png"
      alt=""
    />
    <p class="text">Trang lưu trữ hình ảnh</p>
  </div>

  <p class="text1">Hãy tải ảnh bạn muốn lưu trữ lên đây</p>
  <input
    (change)="onImagePicked($event)"
    placeholder="Upload Image"
    type="file"
  />
  <button (click)="onImageUpload()">Upload Image</button>

  <div *ngIf="imageUrl">
    Preview Image from AWS
    <br />
    <img
      width="200px"
      src="https://cloudfront-upload.s3.amazonaws.com/{{ imageUrl }}"
    />
  </div>
</div>
